<h3><img src="/images/whisky.png" /> GraphQL Whisky Service</h3>

<p class="bg-info" style="padding: 15px;">
  <i>
    "Too much of anything is bad, but too much good whiskey is barely
    enough."<br />
  </i>
  ― Mark Twain
</p>

<ul>
  <li><a href="/api/whiskys">REST: api/whiskys</a></li>
  <li><a href="/api/destilleries">REST: api/destilleries</a></li>
  <li><a href="/ui/graphiql/index.html">GraphiQL</a></li>
  <li><a href="/ui/playground/index.html">Playground</a></li>
  <li><a href="/ui/voyager/index.html">Voyager</a></li>
</ul>
